<template lang="pug">
q-card.shadow-3.biground.q-mb-md
  q-card-section.text-black.row.items-center.q-pa-md
    .col
      .text-h6 {{title}}
      .text-body2 {{text}}
      .text-secondary {{partner}}
    .col-auto
      q-btn(flat size="lg" no-caps :href="`https://${link}`" icon-right="chevron_right") Visit

</template>

<script>
export default {
  props:['text','partner','link','title'],
  methods:{

  }
}
</script>