<template lang="pug">
div.q-mb-xl
  q-card.shadow-6.biground.q-mt-xl(style="z-index:1")
    q-card-section.text-black.row
      .col-12.col-md-6
        q-card-section.text-center
          .row(:style="{padding:`${padding}px`}")
            .col.text-center
              q-img(:src="require(`../assets/${img}`)" width="80%" contain style="max-height:200px;")
          .row.q-pt-md
            q-chip(icon="school" v-if="staff" ) Staff
            q-chip(icon="people" v-if="student" ) Student
            q-chip( icon="account_tree")
              .ellipsis {{scale}}
          //- .row.text-grey-6
          //-   strong Scale:
          //- .row.text-grey-6  
          //-   div {{scale}}

          q-separator(vertical inset)
      .col-12.col-md-6
        q-card-section.column.full-height
          .col
            .text-body1 {{body}}
          .col-auto
            q-btn(type="a" :href="`https://${link}`" link no-caps flat color="secondary" padding="none" v-if="link") Find out more at {{link}}
  div(style="z-index:0;padding-left:5em;" v-if="hasInst")
    .text-h6.text-white.q-py-xs(style="opacity:0.5") Instances
    slot
</template>

<script>
export default {
  props:['scale','img','body','link','staff','student','padding'],
  methods:{

  },
  computed:{
    hasInst(){
      return this.$slots.default;
    }
  }
}
</script>