<template lang="pug">
q-layout(view="hHh lpR fFf")
  .bg-white(flat)
    q-toolbar.text-black(dark).justify-center
      .col-md-8.col-12
        .row
          .col-auto
            img.q-pa-sm(src="../assets/logo.png" style="height:80px;")
          q-space
          q-btn(flat no-caps to="/") About Us
          //- q-btn(flat no-caps) Resources
          q-btn(flat no-caps :to="{path:'/',hash:'contact'}") Contact Us
      
  q-page-container
    router-view
  
  .bg-secondary(style="height:80px;").text-white.q-mt-xl
    .row.justify-center.items-center.full-height
      .col-md-8.col-12.text-center
        div Action HQ &middot; All content licensed as CCBY 4.0 &middot; <a href="https://gitlab.com/action-lab-aus/action-hq" target="__BLANK">GitLab Repo</a>
</template>

<script>

export default {
  name: 'MainLayout',
  components: {
    
  },
  data () {
    return {

    }
  }
}
</script>
